body {
    background-color: black;
}

h1 {
    text-align: center;
    color: snow;
    margin-top: 20px;
}

label {
    color: crimson;
    font-weight: bold;
}

.col-form-label {
    font-size: xx-large;
}